@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */
  --primary-clr: hsl(25, 100%, 62%);
  --background-clr: hsl(225, 14%, 95%);
  --secondary-bg-clr: hsl(60, 100%, 100%);
  --text-clr: hsl(0, 0%, 5%);
  --paragraph-text-clr: hsl(0, 0%, 16%);

  /* Font-Weight */
  --fw-regular: 400;
  --fw-bold: 700;

  /* Font-Size */
  --fs-16-18: clamp(1rem, 0.9643rem + 0.1786vw, 1.125rem);
  --fs-18-20: clamp(1.125rem, 1.0893rem + 0.1786vw, 1.25rem);
  --fs-32-36: clamp(2rem, 1.9286rem + 0.3571vw, 2.25rem);

  /* Transition */
  --body-theme-transition: background-color 250ms ease-in-out;
}

/* Dark Mode */
:root.dark {
  --primary-clr: hsl(155, 61%, 44%);
  --background-clr: hsl(240, 8%, 9%);
  --secondary-bg-clr: hsl(216, 6%, 15%);
  --text-clr: hsl(60, 100%, 100%);
  --paragraph-text-clr: hsl(214, 16%, 64%);
}

body {
  font-family: "AR One Sans", sans-serif;
  font-weight: var(--fw-regular);
  color: var(--text-clr);

  background-color: var(--background-clr);

  transition: var(--body-theme-transition);
}
